name: Build master

on: [push, pull_request]

jobs:  

  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Build
      run: dotnet build -c Release

    - name: Run tests on CPU
      run: dotnet test --filter Category=CPU_Tests

    
    - name: Setup POCL and clinfo 
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y pocl-opencl-icd clinfo
    
    - name: Check OpenCL
      if: runner.os == 'Linux'
      run: clinfo

    - name: Run tests on GPU (with POCL)
      if: runner.os == 'Linux'
      run: dotnet test --filter Category=GPU_Tests
