name: Build master

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    
    - name: Setup POCL and clinfo 
      run: |
         apt update
         apt install -y pocl-opencl-icd clinfo
    
    - name: Check OpenCL
      run: clinfo

    - name: Build
      run: dotnet build -c Release
